/* 列表控件：ListBar。*/
.list_bar > QLabel {
    font-size: 14px;
    font-family: SimSun;
    color: rgb(208, 202, 202);
    border-right: 1px solid red;
}
.list_bar > QLabel:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);
}
.list_bar > .focus {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 75, 75);
}
/* 列表控件.箭头: 上一步/下一步
这两个箭头需要设置背景，否则会透明，导致字体重叠。
*/
.list_bar > .last {
    background-color: rgb(32, 33, 42);
}
.list_bar > .next {
    background-color: rgb(32, 33, 42);
}